.NavigationItem {
	box-sizing: border-box;
	display: flex;
	margin: 0;
}

.NavigationItem a {
	display: block;
	border-bottom: 4px solid transparent;
	padding: 1rem .75rem;
	text-decoration: none;
	color: white;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
	border-bottom: 4px solid #40a4c8;
	background-color: #8F5c2c;
	color: white;
}
